* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --textmenucolor: #4a4a4a;
  --mainbackgroundcolor: #3cdbc0;
  --maintextcolor: #ffffff;
}
body {
  font-family: "Rubik", sans-serif;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 3px 0;
  height: 110;
  z-index: 1000;
  background-color: #ffffff;
}
.logo {
  width: 155px;
  display: inline;
  position: relative;
  top: 10px;
}
.menu {
  padding: 0;
}
.menu-item {
  display: inline-block;
}
.menu-link {
  font-style: normal;
  color: var(--textmenucolor);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}
.main {
  background-color: var(--mainbackgroundcolor);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-item {
  font-size: 30px;
  color: var(--maintextcolor);
  text-transform: capitalize;
  display: block;
  text-align: center;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 30px;
  }
  .title-item {
    font-size: 40px;
  }
}
